.MyClass {
  box-sizing: border-box;
  width: 36px;
  height: 36px;
  margin: 2px;
  background-color: lightblue;
  /* border:2px green solid; */
  /* transition: 2s; */
  border-radius: 2px;
  border-style: solid;
  border-color: lightgray;
  background-color: greenyellow;
  border-width: 2px;
}
.MyClass:hover {
  border-width: 2px;
  /* transition: 2s; */
  border-radius: 2px;
  border-style: solid;
  border-color: blue;
  background-color: greenyellow;
}
#flexContainer1 {
  border: 1px solid darkgray;
  display: flex;
  flex-wrap: wrap;
  max-width: 120px;
}
